<aside class="admin-sidebar">
	<h3 class="nav-title"><a ui-sref="/">Xandha.com</a></h3>
	<ul class="admin-sidebar-nav">
		<li>
			<a ui-sref="admin.dashboard"><img src="assets/images/dash.jpg" height="30" width="30"> &nbsp;Dashboard</a>
		</li>
		<li>
			<a ui-sref="admin.destinations"><img src="assets/images/dest.png" height="30" width="30"> &nbsp;Destinations</a>
		</li>
		<li>
			<a ui-sref="admin.deals"><img src="assets/images/deal.png" height="30" width="30"> &nbsp;Deals</a>
		</li>
	</ul>
</aside>