<aside class="admin-sidebar">
	<h2 class="nav-title"><a ui-sref="/"><img src="assets/images/xandha_logo.svg" height="100" width="200" alt="FordePro" style="margin-top: -80px"></a></h2>
	<ul class="admin-sidebar-nav">
		<li>
			<a ui-sref="admin.dashboard"><img src="assets/images/dash.jpg" height="30" width="30"> &nbsp;Dashboard</a>
		</li>
		<li>
			<a ui-sref="admin.destinations"><img src="assets/images/dest.png" height="30" width="30"> &nbsp;Destinations</a>
		</li>
		<li>
			<a ui-sref="admin.deals"><img src="assets/images/deal.png" height="30" width="30"> &nbsp;Deals</a>
		</li>
		<!-- <li>
			<a ui-ref="#">Store</a>
		</li> -->
	</ul>
</aside>