<div class="row">
	<div class="col-xs-12">
		<h1 class="admin-page-title">Manage Destinations</h1>
		<ol class="breadcrumb">
		  <li><a href="#">Admin</a></li>
		  <li class="active">Manage Destinations</li>
		</ol>
	</div>
	<div class="col-xs-12">
		<uib-tabset active="activeJustified" justified="false">
			<uib-tab index="0" heading="Add a Facility">
				<div class="panel panel-default">
				  	<div class="panel-body">
						<form>
							<div class="row" ng-show="managedest.showUpper == true">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="dest-name">Name</label>
										<input type="text" class="form-control" id="dest-name" placeholder="Name" ng-model="managedest.destIn.name">
									</div>
								</div>
								<div class="col-xs-12">
									<div class="form-group">
										<label for="dest-address">Address</label>
										<input type="text" class="form-control" id="dest-address" placeholder="Address" ng-model="managedest.destIn.address">
									</div>
								</div>
								<div class="col-xs-12">
									<div class="form-group">
										<label for="dest-address">Description</label>
										<ng-wig placeholder="Description" ng-model="managedest.destIn.desc" source-mode-allowed></ng-wig>
									</div>
								</div>
								<div class="col-xs-8">
									<div class="form-group">
										<label for="dest-activities">Activities</label>
										<input type="text" class="form-control" id="dest-activities" placeholder="Activities" ng-model="managedest.destIn.activities">
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<label for="dest-cordinates">Map Cordinates</label>
										<input type="text" class="form-control" id="dest-activities" placeholder="Activities" ng-model="managedest.destIn.cordinates">
									</div>
								</div>
								<div class="col-xs-12">
									<button type="button" class="btn btn-primary btn-lg" ng-click="managedest.addDestination(managedest.destIn)">Add Details</button>
								</div>
							</div>
							<div class="row" ng-show="managedest.showUpper == false">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="dest-activities">Add Images</label>
										<input type="file" class="form-control" id="dest-images-upload" placeholder="Upload Images" multiple>
									</div>
									<uib-progressbar max="max" value="managedest.progress" ng-show="managedest.progress > 0"><span style="color:white; white-space:nowrap;"></span></uib-progressbar>
								</div>
								<div class="col-xs-12">
									<button type="button" class="btn btn-primary btn-lg " ng-click="managedest.uploadDestImages(managedest.destIn.name)">Add Images</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</uib-tab>
	    	<uib-tab index="1" heading="Edit Destinations">
	    		<div class="row">
		    		<div class="col-xs-4">
		    			<div class="available-destinations-list" ng-repeat="data in managedest.destOut">
		    				<p class="pull-left">{{ data.name }}</p>
		    				<div class="pull-right">
		    					<button type="button" class="btn btn-default btn-sm" ng-click="managedest.editDestination(data.name)">Edit</button>
		    					<button type="button" class="btn btn-warning btn-sm" ng-click="managedest.deleteDestination(data.name)">Delete</button>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-xs-8">
		    			<div class="row">
		    				<form ng-hide="managedest.editFormHidden">
							
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<label for="dest-name">Name</label>
											<input type="text" class="form-control" id="dest-name" placeholder="Name" ng-model="managedest.destEdit.name">
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<label for="dest-address">Address</label>
											<input type="text" class="form-control" id="dest-address" placeholder="Address" ng-model="managedest.destEdit.address">
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<label for="dest-address">Description</label>
											<ng-wig placeholder="Description" ng-model="managedest.destEdit.desc" source-mode-allowed></ng-wig>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label for="dest-activities">Activities</label>
											<input type="text" class="form-control" id="dest-activities" placeholder="Enter Activities seperated by a comma - temporary" ng-model="managedest.destEdit.activities">
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label for="dest-activities">Map Cordinates</label>
											<input type="text" class="form-control" id="dest-activities" placeholder="Enter Location cordinates seperated by a comma - temporary" ng-model="managedest.destEdit.cordinates">
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label for="dest-activities">Header Image</label>
											<input type="text" class="form-control" id="dest-activities" placeholder="Enter image full url - temporary" ng-model="managedest.destEdit.himage">
										</div>
									</div>
									<div class="col-xs-12">
										<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="managedest.saveEdit()">Submit</button>
									</div>
								</div>
							</form>
		    			</div>
		    		</div>
	    		</div>
	    	</uib-tab>
		</uib-tabset>
	</div>
</div>