<div global-navbar></div>
<div class="search-wrapper">
</div>

<div class="container deal-page-wrap">
	<div class="row wrap-row">
		<div class="col-xs-9">
			<div class="deal-caption">
				<h3>The Pines Melaka: Up to 3D2N Stay for 2 People in Deluxe Room / Poolside Suite with Breakfast. River Cruise Available</h3>
			</div>
			<div class="deal-carousel">
				<img src="https://images.unsplash.com/photo-1464695110811-dcf3903dc2f4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=34cc42f969e2f39d7a8af95d16c7dcca" class="img-responsive" alt="">
			</div>
			<div class="deal-details">
				<h4>Deal Details:</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<h4>About Company</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<!-- <ul>
					<li>Meal for 3 people for RM58 instead of RM78</li>
					<li>Meal for 5 people for RM78 instead of RM98</li>
					<li>Meal for 8 people for RM98 instead of RM118</li>
					<li>Meal for 10 people for RM128 instead of RM150</li>
				</ul>
				<h4>Meal includes</h4>
				<p>Meal for 3 people</p>
				<ul>
					<li>Sea cucumber soup</li>
					<li>Butter chicken ball</li>
					<li>Fried kai lan</li>
					<li>Deep fried beancurd</li>
					<li>Thai-style fish fillet</li>
					<li>Fruits</li>
				</ul>

				<p>Meal for 5 people</p>
				<ul>
					<li>Sea cucumber and enoki soup</li>
					<li>Thai-style chicken chop</li>
					<li>Fried kai lan</li>
					<li>Deep fried beancurd</li>
					<li>Thai-style fish fillet</li>
					<li>Fruits</li>
				</ul> -->
			</div>
		</div>
		<div class="col-xs-3 deal-sidebar">
			<button type="button" class="btn btn-block btn-lg btn-primary">Grab this deal! <i class="fa fa-shopping-bag fa-lg"></i></button>
      <hr>
      <h4>Discount Details</h4>
      <ul class="discount-details">
        <li>
          <p>Discount Offered:</p>
          <p class="emphasis">80%</p>
        </li>
        <li>
          <p>Original Price:</p>
          <p class="emphasis">N 10,000</p>
        </li>
        <li>
          <p>Discount Price:</p>
          <p class="emphasis">N 4, 000</p>
        </li>
        <li>
          <p>You save:</p>
          <p class="emphasis">N 6, 000</p>
        </li>
      </ul>
      <hr>
      <h4>Share this deal</h4>
      <span class="social-sharing">
        <i class="fa fa-facebook fa-lg"></i>
      </span>
      <span class="social-sharing">
        <i class="fa fa-twitter fa-lg"></i>
      </span>
      <span class="social-sharing">
        <i class="fa fa-google-plus fa-lg"></i>
      </span>



      <hr>
		</div>
	</div>
</div>

<div global-footer></div>
