<div global-navbar></div>
<div class="search-wrapper">
</div>

<div class="container deal-page-wrap">
	<div class="row wrap-row">
		<div class="col-xs-8">
			<div class="deal-caption">
				<h3>The Pines Melaka: Up to 3D2N Stay for 2 People in Deluxe Room / Poolside Suite with Breakfast. River Cruise Available</h3>
			</div>
			<div class="deal-carousel">
				<img src="https://images.unsplash.com/photo-1464695110811-dcf3903dc2f4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=34cc42f969e2f39d7a8af95d16c7dcca" class="img-responsive" alt="">
			</div>
			<h4>The deal</h4>
			<ul>
				<li>Meal for 3 people for RM58 instead of RM78</li>
				<li>Meal for 5 people for RM78 instead of RM98</li>
				<li>Meal for 8 people for RM98 instead of RM118</li>
				<li>Meal for 10 people for RM128 instead of RM150</li>
			</ul>
			<h4>Meal includes</h4>
			<p>Meal for 3 people</p>
			<ul>
				<li>Sea cucumber soup</li>
				<li>Butter chicken ball</li>
				<li>Fried kai lan</li>
				<li>Deep fried beancurd</li>
				<li>Thai-style fish fillet</li>
				<li>Fruits</li>
			</ul>
			
			<p>Meal for 5 people</p>
			<ul>
				<li>Sea cucumber and enoki soup</li>
				<li>Thai-style chicken chop</li>
				<li>Fried kai lan</li>
				<li>Deep fried beancurd</li>
				<li>Thai-style fish fillet</li>
				<li>Fruits</li>
			</ul>
		</div>
		<div class="col-xs-4 deal-sidebar">
			<button type="button" class="btn btn-block btn-lg btn-primary">Buy Now <i class="fa fa-shopping-bag fa-lg"></i></button>
		</div>
	</div>
</div>

<div global-footer></div>
