<!-- <div loading-indicator></div> -->
<div global-navbar></div>
<div global-sub-nav></div>
<div class="container deal-page-wrap">
	<div class="row wrap-row">
		<div class="col-xs-12 col-md-9">
			<div class="deal-caption">
				<object type="image/svg+xml" data="assets/images/placeholder.svg" width="30"></object>
				<h3 ng-bind="dl.deal.caption"></h3>
			</div>
			<!-- Deal Carousel Directive -->
			<div class="deal-carousel-wrap">
				<div data ="dl.carousel" deal-carousel></div>
			</div>

			<div class="action-panel">
				<ul class="stats">
					<!--<li>
						287 Bought!
					</li>
					<li>
						<i class="fa fa-eye fa-lg"></i> 287 Views
					</li>-->
					<li>
						Discount: <span class="big-text">{{ ::dl.deal.discount }}%</span>
					</li>
					<li>
						You save: <span class="big-text">{{ ::dl.deal.discountedPrice | currency: "&#x20a6"}}</span>
					</li>
				</ul>
				<button type="button" class="btn btn-lg btn-primary" ng-click="dl.showPurchaseModal()">Grab this deal! <i class="fa fa-shopping-bag fa-lg"></i></button>
			</div>

			<div class="deal-details">
				<uib-tabset active="activeJustified" justified="true">
				    <uib-tab index="0" heading="Details">
							<div ng-bind-html="::dl.deal.details"></div>
				    </uib-tab>
				    <uib-tab index="1" heading="About Company">
							<div ng-bind-html="::dl.deal.company"></div>
				    </uib-tab>
				    <uib-tab index="2" heading="Other Details">
				    	<div ng-bind-html="::dl.deal.other"></div>
				    </uib-tab>
				  </uib-tabset>
			</div>
		</div>
		<div class="hidden-xs col-md-3 deal-sidebar">
			<h4>Related Deals</h4>
			<hr>
			<div ng-repeat="deal in dl.dealsRef | filter:dl.category | limitTo: 4">
				<a ui-sref="deal({key: deal.$id})" class="related-deal-wrap">
					<div class="related-deal"
						style="background: url('{{ ::deal.relatedImages[0] }}') center center no-repeat;
							   background-size: cover;">
						<div class="related-deal-caption">
						<p>{{ ::deal.caption }}</p>
						<!-- <div class="divider"></div> -->
						<!--<ul class="stats">
							<li><i class="fa fa-eye fa-lg>"></i> 2,000</li>
							<li>2,000 Bought!</li>
						</ul>-->
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div global-footer></div>
