<!-- <div loading-indicator></div> -->
<div global-navbar></div>
<div global-sub-nav></div>
<div class="container deal-page-wrap">
	<div class="row wrap-row">
		<div class="col-xs-12 col-md-9">
			<div class="deal-caption">
				<h3 ng-bind="dl.deal.caption"></h3>
			</div>
			<!-- Deal Carousel Directive -->
			<div class="deal-carousel-wrap">
				<div data ="dl.carousel" deal-carousel></div>
			</div>

			<div class="action-panel">
				<ul class="stats">
					<li>
						287 Bought!
					</li>
					<li>
						<i class="fa fa-eye fa-lg"></i> 287 Views
					</li>
					<li>
						Discount: <span class="big-text">{{ ::dl.deal.discount }}%</span>
					</li>
					<li>
						You save: <span class="big-text">N{{ ::dl.deal.discountedPrice }}</span>
					</li>
				</ul>
				<button type="button" class="btn btn-lg btn-primary" ng-click="dl.openModal()">Grab this deal! <i class="fa fa-shopping-bag fa-lg"></i></button>
			</div>

			<div class="deal-details">
				<uib-tabset active="activeJustified" justified="true">
				    <uib-tab index="0">
				    	<uib-tab-heading>
				    		<i class="fa fa-info fa-lg"></i> Details
				    	</uib-tab-heading>
						{{ ::dl.deal.details}}
				    </uib-tab>
				    <uib-tab index="1" heading="About Company">
				    	{{ ::dl.deal.company }}
				    </uib-tab>
				    <uib-tab index="2" heading="Other Details">
				    	{{ ::dl.deal.other}}
				    </uib-tab>
				  </uib-tabset>
			</div>
		</div>
		<div class="hidden-xs col-md-3 deal-sidebar">
			<h4>Related Deals</h4>
			<hr>
			<a href="#" class="related-deal-wrap">
				<div class="related-deal"
					style="background: url('{{ ::dl.carousel[0].image }}') no-repeat;
						   background-size: cover;">
					<!-- <img src="{{ ::dl.carousel[0].image }}" alt=""> -->
					<div class="related-deal-caption">
					<p>The Pines Melaka: Up to 3D2N Stay for 2 People in Deluxe Room / Poolside Suite with Breakfast. River Cruise Available</p>
					<!-- <div class="divider"></div> -->
					<ul class="stats">
						<li><i class="fa fa-eye fa-lg>"></i> 2,000</li>
						<li>2,000 Bought!</li>
					</ul>
					</div>
				</div>
			</a>
			<a href="#" class="related-deal-wrap">
				<div class="related-deal"
					style="background: url('{{ ::dl.carousel[0].image }}') no-repeat;
						   background-size: cover;">
					<!-- <img src="{{ ::dl.carousel[0].image }}" alt=""> -->
					<div class="related-deal-caption">
					<p>Nixon Restaurant: 20% off All dishes</p>
					<!-- <div class="divider"></div> -->
					<ul class="stats">
						<li><i class="fa fa-eye fa-lg>"></i> 2,000</li>
						<li>2,000 Bought!</li>
					</ul>
					</div>
				</div>
			</a>
			<a href="#" class="related-deal-wrap">
				<div class="related-deal"
					style="background: url('{{ ::dl.carousel[0].image }}') no-repeat;
						   background-size: cover;">
					<!-- <img src="{{ ::dl.carousel[0].image }}" alt=""> -->
					<div class="related-deal-caption">
					<p>Bungee Jumping off Stratham Towers, Ikoyi</p>
					<!-- <div class="divider"></div> -->
					<ul class="stats">
						<li><i class="fa fa-eye fa-lg>"></i> 2,000</li>
						<li>2,000 Bought!</li>
					</ul>
					</div>
				</div>
			</a>	
		</div>
	</div>
</div>

<div global-footer></div>
