<div class="container deals-wrap">

	<div class="row dashboard-row">
		<div class="hidden-xs col-md-2 dashboard-sidebar">
			<h5>Filter by Location</h5>
			<ul>
				<li ng-repeat = "location in dashboard.locations track by $index">
					<label>
						<input type="checkbox" 
							ng-model = "dashboard.locationFilters[$index]" 
							ng-change = "dashboard.getFilterVal(location);">{{ ::location }}
					</label>
				</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-10 deals-dashboard">
			<div class="row">
				<div class="col-xs-12 col-md-4"
					ng-repeat="deal in dashboard.deals | locationFilter: dashboard.filter
					track by deal.$id">
					<a ui-sref="deal({key: deal.$id})" title="">
						<div class="card" ui-sref="deal">
							<div class="deal-image"
									 style="background: url('{{ ::deal.relatedImages[0] }}') center center no-repeat;
								   background-size: cover; min-height: 180px; width: 100%">
							</div>
							<div class="deal-details">
								<h5 ng-bind="deal.caption"></h5>
							</div>
							<div class="deal-card-footer">
								<p class="category" ng-bind-html="deal.category"></p>
								<div class="price-diff">
									<!-- <p class="old-price" ng-bind="deal.price"></p> -->
									<p class="new-price">{{ ::deal.discountedPrice | currency: "&#x20a6"}}</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 default-content" ng-show="!dashboard.deals.length">
					<h4>Nothing to show here...</h4>
					<i class="fa fa-frown-o fa-2x"></i>
				</div>
			</div>
			<!-- <div class="row" ng-if="filteredValues.length >= 6">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<button type="button" class="btn btn-lg btn-primary btn-block">Show More ...</button>
				</div>
			</div> -->
		</div>
	</div>
</div>
