<div class="container deals-wrap">
	<div class="row header-row">
		<div class="col-xs-5 col-xs-offset-2 title-header">
			<h1>Grab the latest Deals</h1>
		</div>
		<div class="col-xs-2 clearfix">
			<p class="pull-right">Filter By Location:</p>
		</div>
		<div class="col-xs-3">
			<select name="" id="input" class="form-control" required="required">
				<option value="">Abuja</option>
				<option value="">Lagos</option>
			</select>
		</div>
	</div>

	<div class="row dashboard-row">
		<div class="col-xs-2 dashboard-sidebar">
			<ul>
				<li><h5>Filter by Category</h5></li>
				<!-- <li><label><input type="checkbox"> All</label></li> -->
				<li><label><input type="checkbox" ng-model="add.categoryFilters.fd"> Food & Dining</label></li>
				<li><label><input type="checkbox" ng-model="add.categoryFilters.gt"> Getaways</label></li>
				<li><label><input type="checkbox" ng-model="add.categoryFilters.act"> Activities</label></li>
			</ul>
		</div>
		<div class="col-xs-10 deals-dashboard">
			<div class="row">
				<div class="col-xs-4" 
					ng-repeat="deal in filteredValues = (add.deals | 
					filter: (add.categoryFilters.fd? {category: 'food & drink'} : undefined) | 
					filter: (add.categoryFilters.gt? {category: 'getaways'} : undefined) |
					filter: (add.categoryFilters.act? {category: 'activities'} : undefined))
					track by deal.id">
					<a ui-sref="deal({key: deal.id})" title="">
						<div class="card" ui-sref="deal">
							<img class="card-img-top" 
									ng-src="{{ deal.img }}"
				                    ng-image-appear
				                    no-loader
				                    responsive
	                                transition-duration="0.5s"
	                                animation="fillIn"
	                                animation-duration="1s"
	                                easing="ease-out"
	                                alt="{{ deal.caption }}">
							<div class="deal-details">
								<h5 ng-bind="deal.caption"></h5>
								<span class="clearfix meta-data">
									<!-- <span class="pull-left badge">234 Sold</span> -->
									<span class="pull-left badge" ng-bind-html="deal.category"></span>
								</span>
								<span class="clearfix">
									<p class="old-price pull-left" ng-bind="deal.originalPrice">10,000</p>
									<p class="new-price pull-left" ng-bind="deal.discountPrice">2000</p>
								</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 default-content" ng-show="!filteredValues.length">
					<h4>Nothing to show here...</h4>
					<i class="fa fa-frown-o fa-2x"></i>
				</div>
			</div>
			<div class="row" ng-if="filteredValues.length >= 6">
				<div class="col-xs-6 col-xs-offset-3">
					<button type="button" class="btn btn-lg btn-primary btn-block">Show More ...</button>
				</div>
			</div>
		</div>
	</div>
</div>