<div class="atf-wrap">
  <div global-navbar></div>
  <div global-sub-nav></div>
  <!-- <div bc-flickity = "{{ home.carouselOptions }}" bc-flickity-id="{{ home.carouselInstanceId }}" class="carousel-container home-carousel">
    <div class="carousel-slide" data-ng-repeat="slide in home.carousel track by $index">
        <a ui-sref="deals.getaways" style="margin-right: 10px;"><img data-ng-src="{{ slide.image }}" /></a>
    </div>
  </div> -->
  <div class="jumbotron landing">
    <div class="overlay"></div>
    <div class="container">
      <h1 class="animated fadeInDown">Discover <span class="naija">Naija</span><br> like never before!</h1>
      <p class="sub-text animated fadeIn">
        Find amazing deals on top spots & destinations to relax. We provide you with information on the best spots to chill and relax across Nigeria as well as deals on getaways, luxury dining and fun activities
      </p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <object type="image/svg+xml" data="assets/images/piggy-bank.svg" width="290" height="45"></object>
          <h2>Enjoy Budget Friendly Fun</h2>
          <p>Having a blast with friends and family doesn't have to cost you a lot. Xandha provides you with the best information on amazing deals that will fit within your budget.</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <object type="image/svg+xml" data="assets/images/cocktail.svg" width="290" height="45"></object>
          <h2>Discover Amazing Places</h2>
          <p>Find amazing deals on top spots & destinations to relax. From fine dining to breath-taking resorts ... with Xandha leisure just got better</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <object type="image/svg+xml" data="assets/images/bicycle.svg" width="290" height="45"></object>
          <h2>Try Something New</h2>
          <p>Break free from the boredom of routine and discover new and exciting activities around you. Expand your boundaries and maybe learn something new along the way.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-wrap">
  <div class="container">
    <div class="row grid-row">
      <div class="col-xs-12">
        <object type="image/svg+xml" data="assets/images/sunbed.svg" width="50" height="45" class="grid-header-icon">
          <style type="text/css">
            .grid-header-icon{
              display: inline-block;
              float: left;
              text-align: left;
              margin-right: 20px;
            }
          </style>
        </object>
        <h1 class="grid-header">Awesome Vacation Spots</h1>
        <div class="grid-layout">
          <div class="grid-content" ng-repeat="deal in home.getawayDeals | limitTo: 4" style="background: url('{{ ::deal.relatedImages[0] }}') center center no-repeat; background-size: cover;">
            <div class="body">
              <a ui-sref="deals.getaways">{{ ::deal.caption }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row grid-row">
      <div class="col-xs-12">
        <object type="image/svg+xml" data="assets/images/bell-covering-hot-dish.svg" width="50" height="45" class="grid-header-icon">
          <style type="text/css">
            .grid-header-icon{
              display: inline-block;
              float: left;
              text-align: left;
              margin-right: 20px;
            }
          </style>
        </object>
        <h1 class="grid-header">Luxury Dining Experiences</h1>
        <div class="grid-layout">
          <div class="grid-content" ng-repeat="deal in home.foodDeals | limitTo: 4" style="background: url('{{ ::deal.relatedImages[0] }}') center center no-repeat; background-size: cover;" ui-sref="deals.winedine">
            <div class="body">
              <a ui-sref="deals.winedine">{{ ::deal.caption }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row grid-row">
      <div class="col-xs-12">
        <object type="image/svg+xml" data="assets/images/moustache.svg" width="50" height="45" class="grid-header-icon">
          <style type="text/css">
            .grid-header-icon{
              display: inline-block;
              float: left;
              text-align: left;
              margin-right: 20px;
            }
          </style>
        </object>
        <h1 class="grid-header">Wholesome Fun for Everyone</h1>
        <div class="grid-layout">
          <div class="grid-content" ng-repeat="deal in home.activitiesDeals | limitTo: 4" style="background: url('{{ ::deal.relatedImages[0] }}') center center no-repeat; background-size: cover;">
            <div class="body">
              <a ui-sref="deals.activities">{{ ::deal.caption }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div all-deals-dashboard></div> -->
</div>

<div global-footer></div>
