<div class="atf-wrap">
  <div global-navbar></div>
  <div global-sub-nav></div>
  <div bc-flickity = "{{ home.carouselOptions }}" bc-flickity-id="{{ home.carouselInstanceId }}" class="carousel-container home-carousel">
    <div class="carousel-slide" data-ng-repeat="slide in home.carousel track by $index">
        <a ui-sref="deals.getaways"><img data-ng-src="{{ slide.image }}" /></a>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
          <h2>Enjoy Budget Friendly Fun</h2>
          <p>Having a blast with friends and family doesn't have to cost you a lot. Find amazing deals on top spots & destinations to relax. With Xandha leisure just got better, Xandha provides you with the best information on amazing deals that will fit within your budget.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-wrap">
  <div all-deals-dashboard></div>
</div>

<div global-footer></div>
