nav[role="top-nav"]{
  padding-top: 5px;
  height: auto;
  background-color: $white;// $prime-blue;
  border: none;
  border-bottom: thin solid transparent; //lighten($black, 90%);
  border-radius: 0;
  margin-bottom: 0;
  display: block;

  .navbar-toggle{
    border: transparent;
    & span.icon-bar{
      color: $white;
      background-color: $white;
      border-radius: 0;
    }
    &:focus{
      background-color: transparent;
    }
  }

  .navbar-brand{
    @include noto-bold;
    font-size: 3.5rem;
    // font-family: $headings-font-family;
    color: $comp_1; //$prime-blue;//$white;
    // font-weight: bold;
    & img{
      max-width: 10em;
    }
    &:hover{
      color: $comp_1;
    }
    & span{
      font-size: 0.6em;
    }
  }

  .navbar-nav{
    margin-left: 3.5em;
  }

  .nav-item{
    margin-right: 20px;
  }

  .navbar-nav{
    margin-right: 20px;
    a{
      color: $white; //$prime-blue;
      font-family: $raleway-bold;
      transition: color 0.2s;
      padding-left: 0;
      &:hover{
        color: $comp_1;
      }
      &:active{
        color: $comp_1;
      }
      &:focus{
        color: $comp_1;
      }
    }
  }


  button.navbar-toggle{
    color: $white;
    font-size: rem-calc(30);
  }



  button.btn-profile{
    padding: 0;
    background-color: transparent;
    margin: 0;
    & img{
      width: 45px;
      height: 45px;
    }
  }
  // TODO - experiment later
  // @keyframes fadeUpDropdown {
  //   from { margin-top: 20px }
  //   to { margin-top: 0; }
  // }

 ul[role="login-dropdown-menu"]{
    // animation: fadeUpDropdown 0.2s linear forwards; TODO - experiment later
    padding-bottom: 0;
    border: thin solid rgba($white, 0.1);
    box-shadow: 0px 0px 4px rgba($black, 0.2);
    border-radius: 4px;
    // margin-top: 20px;
    & li.signout{
      & a{
        background-color: $primary;
        color: $white;
        font-family: $raleway-bold;
        display: block;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.4s;
        & i{
          display: inline;
        }
        &:hover{
          background-color: $comp_1;
          color: $white;
          font-family: $raleway-bold;
          display: block;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

    }
  }

ul.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 80%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

ul.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 80%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

  button.btn-primary, button.btn-default{
    @include noto-bold;
    padding: 5px 20px;
    transition: all 0.3s ease;
  }

  button.btn-primary{
    color: $white;
    background-color: $comp_1;
    border: 2px solid $comp_1;
    border-radius: 16px;
    margin-right: 0;
    &:hover{
      color:$white;
      background-color: $comp_1;
      border-color: $comp_1;
    }
  }

  button.btn-default{
    color: $primary;
    background-color: transparent;
    border: 2px solid transparent;
    padding-left: 10px;
    &:focus{
      background-color: transparent;
      color: $primary;
      border: 2px solid transparent;
    }
    &:hover{
      background-color: transparent;
      color: $primary;
      border: 2px solid transparent;
    }
  }
}

// Mobile slide in nav overlay
.mobile-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: rgba($comp_1, 0.95);
  // top: 0;
  left: 100%;
  // transition: all 0.6;

  & a{
    display: block;
    color: $white;
    font-family: $raleway-bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    border-bottom: thin solid rgba($white, 0.04);
  }

}

.mobile-menu.show-mobile-menu{
    animation: menu-slidein 0.3s ease-in-out forwards;
  }

.mobile-menu.hide-mobile-menu{
    animation: menu-slideout 0.3s ease-in-out forwards;
}

@keyframes menu-slidein {
  from { left: 100%; }
  to { left: 0; }
}

@keyframes menu-slideout {
  from { left: 0; }
  to { left: 100%; }
}