<div class="login-page-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap center-block">
          <form role="signInUp" class="login-form">
            <div class="context-switch-wrap" ng-hide="login.context == 'registration'">
              <legend>Sign In</legend>

              <div class="form-group">
                <label for=""><small>Sign In with your Email</small></label>
                <input type="text" class="form-control" id="" placeholder="Username">
              </div>

              <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control" id="" placeholder="Password">
              </div>

              <button type="submit" class="btn btn-primary btn-block btn-lg">Sign In</button>

              <small><a class="pull-left" href="#" title="">Forgot your password?</a></small>
              <small><button class="pull-right" type="button" ng-click="login.switchContext()">New here?  Create an account here</button></small>
            </div>
          </form>
          <form role="signInUp" class="registration-form" valdr-type="newUser">
            <div class="context-switch-wrap" ng-hide="login.context == 'login'">
              <legend>Create An Account</legend>

              <div class="error-messages" ng-if="login.error">
                {{ login.error }}
              </div>
              <!-- <div class="form-group">
                <label for=""><small>Name</small></label>
                <input type="text" class="form-control"
                  placeholder="Because Introductions are great!"
                  ng-model="login.newUser.name"
                  ng-keyup="login.validateName(login.newUser.name)">
                <i class="fa fa-close fa-lg" ng-show="login.nameError"></i>
                <i class="fa fa-check fa-lg" ng-hide="login.nameSuccess"></i>
              </div> -->

              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" id="" placeholder="Email" ng-model="login.newUser.email" ng-keyup="login.validateEmailInput(login.newUser.email)">
                <i class="fa fa-close fa-lg" ng-show="login.emailError"></i>
                <i class="fa fa-check fa-lg" ng-hide="login.emailSuccess"></i>
              </div>

              <div class="form-group">
                <label for="">Password</label>
                <input type="text" class="form-control"
                  placeholder="Password"
                  ng-model="login.newUser.password">
                <i class="fa fa-close fa-lg" ng-show="login.passwordMatchError"></i>
                <i class="fa fa-check fa-lg" ng-hide="login.passwordMatchSuccess"></i>
              </div>

              <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="text" class="form-control"
                  placeholder="Confirm Password"
                  ng-model="login.newUser.confirmPassword"
                  ng-keyup="login.validatePasswordMatch(login.newUser.confirmPassword)">
                <i class="fa fa-close fa-lg" ng-show="login.passwordMatchError"></i>
                <i class="fa fa-check fa-lg" ng-hide="login.passwordMatchSuccess"></i>
              </div>

              <button type="button"
                    class="btn btn-primary btn-block btn-lg"
                    ng-click="login.submitForm()"
                    ng-class="{deactivated:login.authActive}">Submit</button>

              <div class="auth-status" ng-show="login.authActive == true">
                <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                <p>Sigining In. Please wait ...</p>
              </div>

              <small><button type="button" ng-click="login.switchContext()" class="reg">Have an account already?  Login Here</button></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
