<div global-navbar></div>
<!--<div global-sub-nav></div>-->
<div class="container order-page-wrap">
	<div class="row wrap-row">
		<div class="col-xs-12">
      <h1 class="custom-page-header">Please Confirm your Order</h1>
		</div>
    <div class="col-xs-12 order-panel">
      <div class="row">
        <div class="col-xs-2">
          <div class="order-image"
            style="background: url('{{ ::order.data.image }}') center center no-repeat;
                  background-size: cover;">
          </div>  
        </div>
        <div class="col-xs-10">
          <ul>
            <li>{{ ::order.data.dealCaption }}</li>
            <li>{{ ::order.data.amount }} @ {{ ::order.data.price }}</li>
          </ul>
          <p class="total">Total : {{ ::order.data.total }}</p>
          
        </div>
      </div>
     </div>
     <div class="col-xs-6 guest-checkout">
       <h4>Purchase without an account</h4>
       <p>You can check out as a guest and create an account later.</p>
       <form id="nibbs" action="#">
          <input type="hidden" name="merchant_id" value="" />
          <input type="hidden" name="product_id" value="" />
          <input type="hidden" name="product_description" value="{{ ::order.data.dealCaption }}" />
          <input type="hidden" name="amount" value="{{ ::order.data.total }}" />
          <input type="hidden" name="currency" value="566" />
          <input type="hidden" name="transaction_id" value="123456" />
          <input type="hidden" name="response_url" value="http://www.xandha.com" />
          <input type="hidden" name="hash" value="" />
       </form>
       <form class="guest-checkout-form">
         <div class="col-xs-6">
           <div class="form-group form-group-md">
            <input type="text" class="form-control" placeholder="First Name">
           </div>
         </div>
         <div class="col-xs-6">
           <div class="form-group form-group-md">
            <input type="text" class="form-control" placeholder="Last Name">
           </div>
         </div>
         <div class="col-xs-12">
          <div class="form-group form-group-md">
            <input type="email" class="form-control" placeholder="Email">
          </div>
         </div>
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-lg" form="nibbs">Check Out as Guest <i class="fa fa-check fa-lg" aria-hidden="true"></i></button>
        </div>
      </form>
     </div>
  </div>   
</div>
<!--<div global-footer></div>-->
