<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1>Test Console</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<form action="" method="POST" role="form">
				<legend>Add a Facility</legend>

				<div class="form-group">
					<label for="dest-name">Name</label>
					<input type="text" class="form-control" id="dest-name" placeholder="Name" ng-model="admin.destIn.name">
				</div>
				<div class="form-group">
					<label for="dest-address">Address</label>
					<input type="text" class="form-control" id="dest-address" placeholder="Address" ng-model="admin.destIn.address">
				</div>
				<div class="form-group">
					<label for="dest-address">Description</label>
					<textarea class="form-control" id="dest-desc" placeholder="Description" rows="10" ng-model="admin.destIn.desc"></textarea>
				</div>
				<div class="form-group">
					<label for="dest-activities">Activities</label>
					<input type="text" class="form-control" id="dest-activities" placeholder="Activities" ng-model="admin.destIn.activities">
				</div>

				<button type="button" class="btn btn-primary" ng-click="admin.addDestination(admin.destIn)">Submit</button>
			</form>
		</div>
		<style type="text/css" media="screen">
			.testing-grounds > ul{
				list-style: none;
				padding: 10px;
				line-height: 16px;
				border: thin solid #e5e5e5;
				margin-bottom: 20px;
			}

			.testing-grounds > li.has-button{
				padding-top: 100px;
			}
		</style>
		<div class="col-xs-offset-2 col-xs-4 testing-grounds">
			<ul ng-repeat="data in admin.destOut track by $index">
				<li>Index => {{ $index }}</li>
				<li>{{ data.name }}</li>
				<li>{{ data.address }}</li>
				<li>{{ data.desc }}</li>
				<li>{{ data.activities }}</li>
				<li class="has-button"><button type="button" class="btn btn-primary" ng-click="admin.deleteDestination(data.name)">Delete Entry</button>
			</ul>
			<pre><code>{{admin.destOut}}</code></pre>
		</div>

	</div>
</div>
