<div global-navbar></div>

<div class="search-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div search-form></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row search-header">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Destinations</a></li>
        <li class="active" ng-bind="dest.searchResult.name"></li>
      </ol>
    </div>
  </div>
  <div class="row destination-search-result" ng-show="dest.searchResult">
    <div class="col-xs-6 search-result-carousel">
      <div uib-carousel active="active" interval="dest.myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in dest.slides track by slide.id" index="slide.id">
          <img ng-src="{{::slide.image}}" 
                style="margin:auto;"
                ng-image-appear
                loader-img="assets/images/ring-alt.gif"
                responsive
                transition-duration="1s"
                animation="fillIn"
                animation-duration="1s"
                easing="ease-out">
        </div>
      </div>
    </div>
    <div class="col-xs-6 description">
      <div class="description-header">
        <h3 ng-bind="dest.searchResult.name"></h3>
        <small ng-bind="dest.searchResult.address">Destination Address</small>
      </div>
      <div class="activities-tags">
        <span>Hiking</span>
        <span>Canoeing</span>
        <span>Trekking</span>
        <span>Massages</span>
        <span>Nature Walks</span>
      </div>
      <div class="content">
        <h5>About {{ dest.searchResult.name }}</h5>
        <p ng-bind-html="dest.searchResult.desc"></p>
      </div>
      <button type="button" class="btn btn-lg" ui-sref="destination-detail({ name: dest.searchResult.name })">View Destination</button>
    </div>
  </div>
  <div class="row search-header">
    <div class="col-xs-4">
      <h4 ng-show="dest.searchResult">Showing other destinations in {{ dest.searchResult.state }}</h4>
      <h4 ng-hide="dest.searchResult">Popular Destinations</h4>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row destinations">
    <!-- <div class="col-xs-12">
      <div class="row"> -->
        <div class="col-xs-1 col-lg-3 card-wrapper" ng-repeat="destination in dest.destinations | filter: (dest.searchResult.state? dest.searchResult.state : undefined)" >
            <div class="card">
              <div class="overlay">
                <a ui-sref="destination-detail({ name: destination.name })"><i class="fa fa-eye fa-3x"></i></a>
              </div>
              <img class="card-img-top" ng-src="{{ destination.himage }}"
                                        ng-image-appear
                                        loader-img="assets/images/ring-alt.gif"
                                        responsive
                                        transition-duration="0.5s"
                                        animation="fillIn"
                                        animation-duration="1s"
                                        easing="ease-out" alt="#">
              
              <h4 class="card-title" ui-sref="destination-detail({ name: destination.name })"><a href="#">{{ destination.name }}</a></h4>
              <!-- <small>{{ destination.address }}</small> -->
            </div>
        </div>
     <!--  </div>
    </div> -->

  </div>
</div>
<div global-footer></div>
