// Admin Content
.admin-content{
	width: 80vw;
	min-height: 100vh;
	height: 100%;
	display: inline-block;
	padding-left: 20px;
	float: left;
	margin-left: 15vw;
}

// Admin Sidebar
h2.nav-title{
	color: $white;
	display: 'block';
	padding-left: 20px;
	// text-align: center;
	font-family: $raleway-bold;
}
.admin-sidebar{
	width: 15vw;
	min-height: 100vh;
	background-color: $prime-blue;
	padding: 50px 0;
	display: inline-block;
	float: left;
	position: fixed;
}

// Admin Sidebar Nav
.admin-sidebar-nav{
	list-style: none;
	padding-left: 0;
	line-height: 50px;
	border-top: thin solid rgba($white, 0.1);
	& li{
		display: block;
		border-bottom: thin solid rgba($white, 0.1);
		transition: all 0.2s;
		&:hover{
			background-color: $comp_2;
			cursor: pointer;
		}
	}
	& a{
		text-decoration: none;
		color: $white;
		display: block;
		font-family: $raleway-bold;
		padding-left: 20px;
	}
}

// ui-tab
ul.nav{
	margin-bottom: 50px;
	& li{
		background-color: $prime-blue;
		& a{
			color: $white;
			font-family: $raleway-bold;
		}
		&:hover{
			background-color: $orange;
		}
	}
	& li.active{
		background-color: $orange;
		font-family: $raleway-bold;
		// &:hover{
		// 	background-color: $orange;
		// }
		// &:active{
		// 	background-color: $orange;
		// }
		// &:focus{
		// 	background-color: $orange;
		// }
	}
	& li.disabled{
		background-color: $orange;
	}
}

.available-destinations-list{
	display: block;
	border: thin solid #e5e5e5;
	padding: 10px;
	transition: all 0.2s;
	@include clearfix();
	& h4{
		font-family: $raleway-bold;
		color: $neutral2;
	}
	& button{
		margin-right: 10px;
		border-radius: 4px;
		margin-top: 5px;
	}
	&:hover{
		background-color: $prime-blue;
		// cursor: pointer;
		border: thin solid $prime-blue;
		& h4{
			color: $white;
		}
	}
}

.nw-editor{
	background-color: #CED9DD;
}

div.tab-pane.active{
	opacity: 1;
}

div.tab-pane{
	opacity: 0;
	transition: all 1s;
}