/* GLOBAL STYLES
-------------------------------------------------- */
/* Set body base font family and lighter body text */

body {
  color: #3a3a3a;
  font-family: $paragraph-font-family;
  font-size: 14px;
}

.emphasis{
	color: $comp_2;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}




// Placeholders

%vertical-padding {
	padding-top: rem-calc(50);
	padding-bottom: rem-calc(50);

}

%horizontal-padding {
	padding-left: rem-calc(200);
	padding-right: rem-calc(200);
}



