/* GLOBAL STYLES
-------------------------------------------------- */
/* Set body base font family and lighter body text */

body {
  color: #3a3a3a;
  font-family: $paragraph-font-family;
  font-size: 14px;
  background-color: $body-bg-color; //lighten($prime-blue, 65%);
  overflow-x: hidden;

  // Font smoothing experiment
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

h1,h2,h3,h4,h5,h6,a{
  color: $prime-blue;
}
// .emphasis{
// 	color: $comp_2;
// }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}




// Placeholders

%vertical-padding {
	padding-top: rem-calc(50);
	padding-bottom: rem-calc(50);

}

%horizontal-padding {
	padding-left: rem-calc(200);
	padding-right: rem-calc(200);
}



