// Button Styles
button, .btn{
  outline: none;
  font-family: $opensans-bold;
  border-radius: 2px;
  &:focus{
    outline: none !important;
    font-family: $opensans-bold;
  }
  &:active{
    outline: none !important;
    font-family: $opensans-bold;
  }
  &:hover{
    outline: none !important;
    font-family: $opensans-bold;
  }
}

.btn .success{
  background-color: $primary;
  &:hover{
    background-color: $comp_1;
    border: thin solid $comp_1;
  }
}
