// TO MOVE OR ADJUST
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: transparent){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  // text-align: justify;
  // margin-right: -1em;
  // padding-right: 1em;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.deals-wrap{

  & .deals-carousel{
    margin-top: 20px;
    margin-bottom: 20px;
    & .carousel-inner{
      height: 200px;
    }
  }

  & .header-row{
    font-family: $raleway-bold;
    // padding: 0;
    padding-top: 20px;
    & .title-header{
      padding-left: 0;
    }
    & p{
      padding-top: 10px;
    }
  }

  & .dashboard-row{
    margin-top: 20px;
  }

  & .deals-dashboard{
    background-color: $white;
    min-height: 400px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px darken($body-bg-color, 10%);
    & .default-content{
      & h4{
        font-family: $raleway-bold;
        display: inline-block;
        margin-right: 10px;
        color: darken($body-bg-color, 10%);
      }
      & i{
        color: $comp_1;
        display: inline-block;
      }
    }

    & a{
      overflow: auto;
      display: inline-block;
      margin: 0;
      padding: 0;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
      &:active{
        text-decoration: none;
      }
    }
    & .row{
      padding-left: 10px;
      padding-right: 10px;
    }
    & .col-xs-4{
      padding-left: 10px;
      padding-right: 10px;
    }

    & .card{
      width: 100%;
      min-width: 290px;
      height: 280px;
      display: block;
      border-radius: 2px;
      // box-shadow: none;
      background-color: $neutral1; //darken($body-bg-color, 10%);
      overflow: hidden;
      & img:not(.ngImageAppearLoader){
        height: 180px;
      }
      & .deal-details{
        padding-left: 10px;
        padding-right: 10px;
        & h5{
          @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: transparent);
          margin-bottom: 0;
          font-family: $opensans-bold;
          color: $prime-blue;
          word-wrap: break-word;
        }
        & .badge{
          margin-top: 5px;
          margin-bottom: 5px;
          margin-right: 5px;
          font-size: 0.7em;
          font-family: $opensans-bold;
          background-color: $comp_1; //darken($body-bg-color, 30%);
          & i{
            margin-right: 5px;
          }
        }
        & .old-price{
          text-decoration: line-through;
          margin-right: 10px;
          color: darken($body-bg-color, 30%);
        }
        & .new-price{
          color: $primary;
        }
        & .new-price, .old-price{
          margin-bottom: 5px;
          padding: 0;
          font-size: 1.2em;
          font-family: $opensans-bold;
          &:before{
            content: '\0020A6';
            font-family: sans-serif;
            float: left;
            margin-right: 5px;
          }
        }
      }
    }
  }

  & .dashboard-sidebar{
    & h5{
      padding-bottom: 15px;
      margin-bottom: 20px;
      font-family: $raleway-bold;
      border-bottom: thin dashed darken($body-bg-color, 10%);
      &:before{
        content: '\f0b0';
        font-family: 'FontAwesome';
        margin-right: 5px;
      }
    }
    & ul{
      padding-left: 0;
      list-style: none;
      margin-bottom: 50px;
      & li{
        padding: 15px 0;
        display: block;
        font-family: $raleway-bold;
        color: $prime-blue; //$white;
        border-bottom: thin dashed darken($body-bg-color, 10%);
        &:first-of-type{
          padding-top: 0;
        }
        & label{
          display: block;
        }
        & input{
          height: 15px;
          width: 15px;
          vertical-align: bottom;
          position: relative;
          top: -3px;
          margin-right: 5px;
          box-shadow: none;
          border: thin solid $prime-blue;
          outline: none;
        }
      }
    }
  }

  .btn-primary{
    background-color: $comp_1;
    border: thin solid $comp_1;
    margin-bottom: 20px;
  }
}

.deal-page-wrap{
  padding-top: 20px;
  & .wrap-row{
    background-color: $white;
    box-shadow: 0px 2px 5px darken($body-bg-color, 10%);
    margin: 0 0 50px 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  & .deal-caption{
    & h3{
      font-family: $opensans-bold;
      margin: 0 20px 20px 0;
    }
  }

  & .action-panel{
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: flex-end; //space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: thin solid $body-bg-color;
    & .btn-primary{
      background-color: $primary;
      border: thin solid $primary;
      transition: all 0.4s;
      & i{
        margin-left: 20px;
      }
      &:hover{
        background-color: $comp_1;
        border: thin solid $comp_1;
      }
    }
    & .stats{
      padding-left: 0;
      list-style: none;
      margin-left: 0;
      & li{
        display: inline; 
        margin-right: 20px;
        padding: 10px 0;
        font-family: $opensans-bold;
        color: $neutral2;
        vertical-align: middle;
      }
      & .big-text{
        font-size: 1.5em;
        color: $comp_1;
      }
    }
  }

  & .deal-sidebar{
    border-left: thin solid $body-bg-color;
    min-height: 100%;
    & .related-deal-wrap{
      width: auto;
      height: auto;
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
    }

    & .related-deal{
      width: 100%;
      height: 150px;
      overflow: hidden;
    }

    & .related-deal-caption{
      color: $white;
      font-family: $opensans-bold;
      font-size: 0.98em;
      line-height: 16px;
      height: 150px;
      margin-top: 70px;
      margin-bottom: 0;
      padding: 10px;
      display: block;
      background-color: rgba($black, 0.4);
      transition: margin-top 0.4s;
      &:hover{
        margin-top: 0px;
      }
      & .divider{
        height: 0.8px;
        background-color: rgba($white, 0.7);
        display: block;
        margin: 0;
      }
      & .stats{
        padding-left: 0;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 20px;
        & li{
          margin-right: 15px;
          font-size: 0.9em;
          display: inline-block;
          & i{
            color: $white;
            font-size: 1em;
          }
        }
      }
    }
    & .media-list{
      & li.media{
        border-bottom: thin solid $body-bg-color;
        padding: 10px 0;
      }
    }
    & .btn-primary{
      background-color: $primary;
      border: thin solid $primary;
      & i{
        margin-left: 20px;
      }
    }
    & h4, h5{
      font-family: $raleway-bold;
    }
    & ul.discount-details{
      list-style: circle;
      margin-left: 0;
      padding-left: 20px;
      & li{
        // display: inline;
        margin-right: 10px;
        & p{
          font-family: $opensans-light;
          display: inline;
        }
        & .emphasis{
          font-family: $opensans-bold;
        }
      }
    }
    & .social-sharing{
      display: inline-block;
      margin-right: 10px;
      padding: 10px;
      border-radius: 0;
      background-color: darken($body-bg-color, 40%);
      color: $white;
      width: 50px;
      height: 50px;
      font-size: 1.5em;
      vertical-align: middle;
      & i{
        @include center-block;
        text-align: center;
        margin-top: 5px;
      }
    }
  }

  & .deal-details{
    & .nav-tabs{
      margin-top: 10px;
      margin-bottom: 10px;
      & li{
        border-color: transparent;
        border-radius: 2px;
        font-family: $opensans-bold;
        transition: all 0.4s;
        & a{
          border-radius: 2px;
          // background-color: $prime-blue;
          color: $prime-blue;
          font-size: 1.1em;
          & i{
            margin-right:  10px;
          } 
        }
      }

      & li.active{
        border-color: transparent;
        & a{
          background-color: $comp_1;
          color: $white;
          border: thin solid $comp_1;
          border-radius: 2px;
        }
      }
    }

    & .tab-pane{
      background-color: $body-bg-color;
      padding: 20px;
    }
  }

}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
  .deals-dashboard .col-xs-4{
    padding-left: 0;
    padding-right: 0;
  }
}

// Deal Purchase Modal
.ngdialog.ngdialog-theme-default{
  padding: 20px;
}
.ngDialog-custom{
  padding-top: 0;
}
.ngdialog-content{
  @include clearfix();
  background-color: $white !important;
}
.ngdialog-overlay{
  background-color: rgba($black, 0.8);
}
.deal-purchase-modal-wrap{
  background-color: $white;
  width: 50%;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  @media (max-width: $screen-sm-max){
    width: 100%;
    display: block;
  }

  & h2, h4{
    font-family: $opensans-bold;
  }
  & hr{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.deal-purchase-modal-header{
  font-family: $raleway-bold;
  color: $prime-blue;
}
.deal-purchase-details-table{
  width: 90%;
}