// TO MOVE OR ADJUST
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: transparent){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  // text-align: justify;
  // margin-right: -1em;
  // padding-right: 1em;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.deals-wrap{

  & .deals-carousel{
    margin-top: 20px;
    margin-bottom: 20px;
    & .carousel-inner{
      height: 200px;
    }
  }

  & .header-row{
    font-family: $raleway-bold;
    padding: 0;
    padding-top: 20px;
    & .title-header{
      padding-left: 0;
    }
    & p{
      padding-top: 10px;
    }
  }

  & .dashboard-row{
    // margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }

  & .deals-dashboard{
    background-color: $white;
    min-height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 2px 5px darken($body-bg-color, 10%);
  
    & a{
      overflow: auto;
      display: inline-block;
      margin: 0;
      padding: 0;
      &:hover{
        text-decoration: none;
      }
    }
    & .card{
      width: 100%;
      // min-width: 100%;
      height: 280px;
      border-radius: 0px;
      box-shadow: none;
      background-color: $neutral1; //darken($body-bg-color, 10%);
      overflow: hidden;
      position: relative;
      & img:not(.ngImageAppearLoader){
        // width: auto;
        height: 180px;
      }
      & .deal-details{
        padding-left: 10px;
        padding-right: 10px;
        & h5{
          @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: transparent);
          margin-bottom: 0;
          font-family: $opensans-bold;
          color: $prime-blue;
          word-wrap: break-word;
        }
        & small{
          margin-top: 5px;
          margin-bottom: 5px;
          margin-right: 20px;
          font-family: $raleway-bold;
          color: $comp_1; //darken($body-bg-color, 30%);
        }
        & .old-price{
          text-decoration: line-through;
          margin-right: 10px;
          color: darken($body-bg-color, 30%);
        }
        & .new-price{
          color: $primary;
        }
        & .new-price, .old-price{
          margin-bottom: 5px;
          padding: 0;
          font-size: 1.2em;
          font-family: $opensans-bold;
          &:before{
            content: '\0020A6';
            font-family: sans-serif;
            float: left;
            margin-right: 5px;
          }
        }
      }
    } 
  }

  & .dashboard-sidebar{
    & ul{
      padding-left: 0;
      list-style: none;
      & li{
        padding: 15px 0;
        display: block;
        font-family: $raleway-bold;
        color: $prime-blue; //$white;
        border-bottom: thin dashed darken($body-bg-color, 10%);
        &:first-of-type{
          padding-top: 0;
        }
        & label{
          display: block;
        }
        & input{
          height: 15px;
          width: 15px;
          vertical-align: bottom;
          position: relative;
          top: -3px;
          margin-right: 5px;
          box-shadow: none;
          border: thin solid $prime-blue;
          outline: none;
        }
      }
    }
  }

  .btn-primary{
    background-color: $comp_1;
    border: thin solid $comp_1;
  }
}

.deal-page-wrap{
  padding-top: 20px;
  & .wrap-row{
    background-color: $white;
    box-shadow: 0px 2px 5px darken($body-bg-color, 10%);
    margin: 0 0 50px 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  & .deal-caption{
    & h3{
      font-family: $raleway-bold;
      margin: 0 20px 20px 0;
      border-left: thick solid $comp_1;
      padding-left: 20px;
    }
  }
  & .deal-carousel{
    height: 400px;
    overflow-y: hidden;
  }
  & .deal-sidebar{
    border-left: thin solid $body-bg-color;
    min-height: 100%;
  }
}