
// Form Input
input.form-control, textarea.form-control{
	background-color: lighten(#CED9DD, 10%); //darken($neutral1, 2%);	
	font-family: $raleway;
}

input, input.form-control{
	height: 50px;
}

input.form-control, select.form-control, textarea.form-control{
	border-radius: 2px;
	outline: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	transition: all 0.3s;
	&:focus{
		border: thin solid $primary;
		outline: none;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	}
}

.form-group-sm .form-control, .form-group-lg .form-control{
	border-radius: 2px;
}