// ATF WRAP
.atf-wrap{
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 100vh rgba($prime-blue, 0.7);

  & video{
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-width: auto;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    &::-webkit-media-controls{
      display: none !important;
    }
  }
}

// MAIN NAV
nav[role="main-nav"].navbar.navbar-default{
    background-color: rgba(#eee, 0);
    border-color: rgba(#eee, 0);
}

nav[role="main-nav"]{
	padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: none;

	.navbar-brand{
		font-size: 4.5rem;
		font-weight: bold;
		font-family: $headings-font-family;
    color: $white;
    & img{
      max-width: 10rem;
    }
	}

  .navbar-nav{
    margin-right: 20px;
    a{
      color: $white;
      font-family: $raleway-bold;
      transition: color 0.2s;
      // &:visited{
      //   color: $comp_1;
      // }
      &:hover{
        color: $comp_1;
      }
      &:active{
        color: $comp_1;
      }
      &:focus{
        color: $comp_1;
      }
    }
  }

  button.navbar-toggle{
    color: $white;
    font-size: rem-calc(30);
  }

	button.btn-primary{
		padding: 5px 20px;
    background-color: rgba($white, 0);
    border: 2px solid $white;
    transition: all 0.3s ease;
    font-family: $raleway-bold;
    &:hover{
      background-color: $comp_1;
      border-color: $comp_1;
    }
	}
}

// ALT NAV
nav[role="alt-nav"]{
  padding: 10px 20px;
  height: auto;
  background-color: $white;
  border-bottom: thin solid lighten($black, 90%);
  border-radius: 0;
  margin-bottom: 0;

  .navbar-brand{
    font-size: 4rem;
    font-weight: bold;
    font-family: $headings-font-family;
    color: $prime-blue;
    & img{
      max-width: 10rem;
    }
  }

  .navbar-nav{
    margin-left: 3.5rem;
  }

  .nav-item{
    margin-right: 20px;
  }

  .navbar-nav{
    margin-right: 20px;
    a{
      color: $prime-blue;
      font-family: $raleway-bold;
      transition: color 0.2s;
      &:hover{
        color: $comp_1;
      }
      &:active{
        color: $comp_1;
      }
      &:focus{
        color: $comp_1;
      }
    }
  }

  button.navbar-toggle{
    color: $white;
    font-size: rem-calc(30);
  }

  button.btn-primary{
    color: $primary;
    padding: 5px 20px;
    background-color: rgba($white, 0);
    border: 2px solid $primary;
    transition: all 0.3s ease;
    font-family: $raleway-bold;
    &:hover{
      color:$white;
      background-color: $comp_1;
      border-color: $comp_1;
    }
  }
}

// ATF CONTENT
.atf-content {
  height: 100vh;
  margin-bottom: 0;
  display: table;
  width: 100%;

  & .inner{
    display: table-row;
    text-align: center;
  }

  & h2, p{
    color: $white;
    text-align: center;
  }

  & h2{
  	font-family: $raleway-bold;
  	text-shadow: none;
    display: block;
    margin-top: 25vh;
    font-size: 7rem;
  }

  & p{
  	text-shadow: none;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom:  40px;
  }

  // & form{
  //   input.form-control{
  //     border: 2px solid $white;
  //   }
  //     @include center-block();
  //     width: 600px;
  // }
}

// COMMON CONTENT STYLES FOR LANDING PAGE

// Center and set styling for section header and sub-text
.section-header , .section-subtext{
	@include center-block;
	text-align: center;
}

.section-header {
	font-family: $raleway-bold;
  font-size: 3rem;
}

.section-subtext {
	margin-bottom: rem-calc(50);
}


/* INTRODUCTORY CONTENT
-------------------------------------------------- */

.intro{
	//@extend %vertical-padding;
  & .section-header{
    color: $primary;
  }

	h2.section-subtext {
		margin-bottom: 100px;
	}

  @extend %vertical-padding;
  padding-top: 50px;
  padding-bottom: 50px;
  .section-subtext {
    margin-bottom: 50px;
  }
}




/*======== Content Wrap ========*/
.content-wrap{
  background-color: $white;
  width: 100%;
  height: auto;
  &[class~="padded"]{
    background-color: $white; //$neutral1;
  }
}


/*======== TRENDING DESTINATIONS ========*/

.trending-destinations {
  padding-top: 50px;
  padding-bottom: 50px;
  .col-lg-12 {
    padding: 0 100px;
  }

	.section-header {
		margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2em;
	}

	.card-title {
		color: $prime-blue;
		&:after {
			content: "\f152";
			font-family: "FontAwesome";
			float: right;
		}
    & a{
      color: $prime-blue;
      transition: color 0.2s;
      &:hover{
        color: $comp_1;
      }
    }
	}

}


/*======== ACTIVITIES ========*/

.activities {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 85px;
    padding-right: 85px;

    .col-lg-12 {
      padding: 0 100px;
    }

	.section-header {
		margin-bottom: 50px;
		font-size: 2em;
	}

  .activity-card-container{
    padding: 10px;
    height: 400px;
  }
  .activity-card {
    height: 100%;
    display: block;
    background-size: cover;
  }

  & a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    //transition
    color: $white;
  }

  .content-wrap{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgba($prime-blue, 0.5);
    transition: background-color 0.3s;

    & .activity-content{
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      & h2{
        font-family: $raleway-bold;
        color: $white;
      }
    }

    &:hover{
      background-color: rgba($orange, 0.6);
    }

  }

}


/*======== PARTNERSHIPS ========*/

.partnerships {

  .section-header{
    margin-bottom: 50px;
    font-size: 2em;
    @include center-block();
  }
  .col-lg-6 {
    margin-bottom: 1.5em;
    text-align: center;
    p {
      margin-right: .75em;
      margin-left: .75em;
    }
  }

   h4 {
    font-weight: normal;
    font-family: $raleway-bold;
    margin-top: 10px;
  }
}


/* FOOTER
-------------------------------------------------- */
.upper-footer, .bottom-footer{
  padding-top: 2%;
  padding-bottom: 2%;
  color: darken($white, 10%);

  & a{
    color: darken($white, 10%);
    &:hover{
      color: $comp_2;
      text-decoration: none;
    }
  }

  & h4{
    font-family: $raleway-bold;
  }
  & ul{
    list-style: none;
    padding-left: 0;
  }

  & hr{
    border-color: rgba($white, 0.3);
  }
}

.upper-footer{
  background-color: darken($prime-blue, 7%);
}

.bottom-footer{
  font-size: 0.8em;
  background-color: darken($prime-blue, 8%);
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}



/*======== Page Header ========*/
.page-header{
  width: 100%;
  display: block;
  background-color: $neutral2;
  height: 8em;
  padding: 1em 0;
}

/*======== filter space ========*/
// .filter-space{
//   @extend %vertical-padding;
// }

/*======== footer block ========*/
.footer-block{
  @extend %vertical-padding;
  & button{
    @include center-block();
  }
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}


/*======== Generic page wrappers ========*/
.page-wrap{
  width: 100%;
  display: block;
  height: auto;
  //background-color: darken($neutral1, 5%);
  & .container{
    background-color: $white;
    & div[class*="col-md-8"]{
      @extend %vertical-padding;
      min-height: 500px;
    }
    & aside{
      @extend %vertical-padding;
      background-color: $neutral1; //$comp_2;
      & img{
        // width: 100%;
        // height: auto;
        width: 50%;
        height: auto;
        opacity: 0.9;
        transition: all 0.3s ease-in;
        padding: 2px;
        &:hover{
          opacity: 1;
        }
      }

      & .related-images{
        padding: 0;
        margin-bottom: 2rem;
      }
      & input.form-control{
          // border: 2px solid $input-border-color;
          transition: all 0.3s ease;
          margin-bottom: 1rem;

          &:hover{
            border: 2px solid $primary;
          }
          &:focus{
            border: 2px solid $primary;
          }
      }
    }
    & h2, h6{
      color: $neutral2;
      font-family: $raleway-bold;
    }
    & h6{
      margin-bottom: 1rem;
    }
  }
}


.listing-wrap{
  width: 100%;
  height: auto;
  background-color: $neutral1;
}


/*======== Destination Page Layout ========*/
.search-wrapper{
  background-color: $prime-blue;
  padding: 20px 0;
}
.search-header{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  //background-color: $neutral1;
  & h4{
    // text-align: center;
    font-family: $raleway-bold;
    padding: 0;
      margin: 5px 0;
  }
  & label{
    margin-left: 40px;
  }
  & select.form-control{
    width: 100px;
  }
  & hr{
    border-bottom: thin solid #e7e7e7;
  }

}
.destinations{
  padding-left: 0;
  padding-right:  0;
  padding-bottom: 100px;
  .card{
    box-shadow: none;
    position: relative;
    // TOCOMPLETE
    & .overlay{
      width: 100%;
      height: 200px;
      position: absolute;
      z-index: 10;
      background-color: rgba($prime-blue, 0.8);
      opacity: 0;
      transition: opacity 0.3s;
      a{
        overflow: auto;
        color: $white;
        @include center-block;
        text-align: center;
        margin-top: 80px;
        &:hover{
          cursor: pointer;
        }
      }
      &:hover{
        opacity: 1;
        cursor: pointer;
        border-radius: 4px;
      }
    }

    .card-img-top {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .card-title{
      font-size: 14px;
      padding-left: 0;
      padding-right: 0;
      &:after {
        content: "\f004";
        font-family: "FontAwesome";
        float: right;
        color: $comp_1;
        padding-right: 10px;
      }
    }
  }
}

/*======== Destination detail layout ========*/
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}
.page-header-2{
    height: 300px;
    // background: url("http://hidroplay.com.au/wp-content/uploads/2012/09/Gold-Coast7.jpg");
    //background-size: cover;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    box-shadow: inset 0 300px rgba($prime-blue, 0.8);
    // animation: animatedBackground 100s linear infinite;
    transition: all 0.6s;
    &:hover{
      box-shadow: inset 0 300px rgba($prime-blue, 0.4);
      background-repeat: no-repeat;
      background-position: center center;
    }

    & h2{
      color: $white;
      padding: 0;
      margin: 0;
      margin-top: 200px;
      font-family: $raleway-bold;
      font-size: 4em;
      // border-bottom: thin solid $white;
      display: block;
      // padding-bottom: 10px;
    }
    i{
      display: inline-block;
      color: $white;
      margin-right: 5px;
      transition: color 0.4s;
      &:hover{
        color: $comp_2;
      }
    }
    address{
      color: $white;
      display: inline-block;
    }

    & .social-icons{
      margin-top: 200px;
      i {
        color: $white;
        margin-right: 20px;
        display: inline-block;
      }
    }
  }
.destination-detail{
  .summary-title{
    font-family: $opensans-bold;
    margin-bottom: 20px;
  }
  & .horizontal-nav{
    padding-left: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    // box-shadow: 0px 2px 5px #e5e5e5;
    border-bottom: 3px solid $prime-blue;
    & li{
      display: inline-block;
      margin-right: 20px;
      & a{
        font-family: $raleway-bold;
        font-size: 16px;
        color: $prime-blue; //darken($neutral1, 20%);
        // border-bottom: 2px solid $white;
        transition: all 0.4s;
        &:hover{
          // border-bottom: 2px solid $comp_2;
          text-decoration: none;
          color: #3a3a3a;
        }

        &.active{
          color: $comp_2;
        }
      }
    }
  }
  & .rating-summary{
    & h3{
      margin: 0;
      color: $primary;
      font-size: 4rem;
      font-family: $opensans;
    }
  }
  & .review-highlights{
    padding-left: 0;
    list-style: none;
    line-height: 10px;
    & li{
      @include clearfix();
      display: block;
    }

    & label{
      width: 100px;
      display: inline-block;
      float: left;
      font-family: $opensans-light;
    }
    & .progress{
      width: 200px;
      height: 10px;
      margin: 0;
      margin-bottom: 15px;
      display: inline-block;
      float: left;
    }
    & .progress-bar{
      background-color: darken($neutral1, 20%);
      box-shadow: none;
    }
    & span{
      display: inline;
      float: left;
      text-align: right;
      margin-left: 20px;
    }
  }
  & h2{
    font-family: $raleway-bold;
    margin-top: 0;
    padding-top: 0;
  }
  .section-title{
    font-family: $raleway-bold;
  }
  & .more-images{
    margin-top: 40px;
    .image-grid{
      @include clearfix();
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      background-color: $neutral1;
    }
    .grid-item{
      margin: 5px;
      float: left;
      display: inline-block;
      background-color: $neutral2;
    }
    img{
      // max-height: 250px;
      // height: 350px;
    }
    .width-1{
      width: 40%;
      // height: 250px;
    }
    .width-2{
      width: 28%;
    }
    .width-3{
      width: 57.3%;
    }
  }
}
.angular-google-map-container { height: 400px; };
.booking-form{
    border: thin solid #e5e5e5;
    padding: 20px;
    legend{
      @include center-block;
      text-align: center;
      font-family: $raleway-bold;
      padding-bottom: 20px;
      color: $prime-blue;
    }

    a{
      display: block;
      font-size: 12px;
      margin-top: 20px;
      &:hover{
        color: $comp_1;
      }
    }

    button{
      background-color: $white;
      border: 2px solid $primary;
      color: $primary;
      &:hover{
        background-color: $comp_1;
        color: $white;
        border: 2px solid $comp_1;
      }
    }
  }

// .destination-feature{
//   padding: 5px;
//   display: inline-block;
//   margin-right: 2px;
//   background-color: $neutral2;
//   border-radius: $border-radius;

// }
//
/*======== Package Details layout ========*/

.pd-header{
  width: 100%;
  display: block;
  height: 15rem;
  background-size: cover;
  margin-bottom: 20px;
}

.pd-section{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.package-title{
  font-family: $raleway-bold;
}

.package-feature-title{
  font-family: $raleway-bold;
}

.package-features{
  list-style: none;
  padding-left: 0;
  & i{
    margin-right: 10px;
  }
}

.package-btn{
  background-color: $primary;
  border: none;
  margin-top: 10px;
  transition: background-color 0.2s ease;
   & i{
    color: $white;
    margin-left: 10px;
    opacity: 0;
  }
  &:hover{
    background-color: $comp_1;
    & i{
      // @include slideInDown(
      //   $duration: 0.3s,
      //   $count: 1,
      //   $delay: 0s,
      //   $function: ease,
      //   $fill: both
      // );
    }
  }

}

.action-layout{
  padding: 5rem 0;
  background-color: $neutral1;
  margin-bottom: 0;
}

.contact{
  // width: 10rem;
  // @include center-block;
   text-align: center;
  & i{
    text-align: center;
  }

}


/*======== Events Page layout ========*/


.event-page-header{
  padding-top: 20px;
  padding-bottom: 20px;
  & h4{
    font-family: $raleway-bold;
  }
  & hr{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.event-sidebar{
  width: 100%;
  height: auto;
  border-left: thin solid rgba($black, 0.1);
  border-right: thin solid rgba($black, 0.1);
  border-top: thin solid rgba($black, 0.1);
}

.event-filter{
  list-style: none;
  padding-left: 0;
  background-color: $white;
  & li{
    display: block;
    padding: 10px 10px 10px 20px;
    text-transform: uppercase;
    border-bottom: thin solid rgba($black, 0.1);
    vertical-align: middle;

    & i{
      // @include pull-right;
      margin-top: 5px;
      color: $comp_2;
    }
    &:first-of-type{
      border-top: thin solid rgba($black, 0.1);
    }
    &:hover{
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }
}

.event-card{

  & img{
    width: 100%;
    height: 160px;
    margin-bottom: 5px;
  }

  & h4{
    color: rgba($black, 0.8);
  }
}

.event-card-body{
  & p{
    font-size: 12px;
    margin-bottom: 0;
    color: rgba($black, 0.5);
  }
  & p.date{
    text-transform: uppercase;
    margin: 0 0 5px 0;
    color: rgba($black, 0.6);
  }
  & h4.title{
    font-family: $raleway-extra-bold;
    font-size: 16px;
    margin: 0;
  }
  & .event-excerpt{
    & p{
      font-size: 12px;
    }
  }
}
