// Carousel Styles

/* position dots in carousel */
.flickity-page-dots {
  bottom: 20px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}


/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
  transition: all 0.6s;
}
.flickity-prev-next-button:hover {
  background: rgba($comp_1, 0.6);
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.carousel-container{
	height: 400px;
	width: 100%;
	// box-shadow: 0px 2px 5px darken($body-bg-color, 10%);
	& a{
		width: auto;
		height: auto;
		text-decoration: none;
		background-color: transparent;
	}
}

.carousel-caption{
	background-color: rgba($black, 0.5);
	color: $white;
	font-family: $opensans-bold;
	& h2{
		color: $white;
	}
}

.home-carousel{
	// border-bottom: thick solid $comp_1;
}

.deal-carousel-wrap{
	width: auto;
	height: auto;
	background-color: $body-bg-color;
	padding: 10px;
}
.deal-carousel-container{
	height: 300px;
	overflow-y: hidden;
	border-bottom: none;
	// margin-bottom: 20px;
}

.deal-carousel-nav-container{
	height: 100px;
	margin-top: 10px;
}



//Angular strap modal backdrop hack
.modal-backdrop.am-fade {
  opacity: 1;
  background-color: rgba($black, 0.8);
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .9;
    }
  }
  &.ng-leave {
    opacity: .9;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}


