/*======== Destination Search module ========*/
@keyframes animate-bg-fade{
  from{ background-color: rgba($prime-blue, 0); }
  to{ background-color: rgba($prime-blue, 0.6); }
}
.lookup-backdrop{
	position: fixed;
	z-index: 1;
	background-color: rgba(#072967, 0.6);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	animation-name: animate-bg-fade;
	animation-duration: 0.6s;
	animation-direction: alternate;
}
.destination-lookup-container{
	display: block;
	margin-top: 0;
	border-radius: 2px;

	& .location-dropdown{
		position: relative;
		background-color: $white;
		padding: 10px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		border-right: thin solid rgba($black, 0.5);
		float: left;
		width: 25%;
		cursor: pointer;
		z-index: 1;
		& span{
			margin-left: 5px;
			margin-right: 5px;
		}
		// &.fa-location-arrow{
		// 	display: block;
		// }
		& .location-list{
			list-style: none;
			background-color: $white;
			top: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			left: 0;
			width: 100%;
			& .location-list-data{
				display: none;
				list-style: none;
				padding: 10px 10px 10px 15px;
				border-top: 1px solid #eee;
			}
		}
	}

	& .destination-dropdown{
		position: relative;
		background-color: $white;
		width: 65%;
		padding: 10px;
		float: left;
		cursor: pointer;
		z-index: 1;
		& .fa-search{
			float: left;
			margin-left: 0;
			margin-right: 20px;
			margin-top: 5px;
		}
		& span{
			float: left;
		}
		& input{
			width: 100%;
			display: none;
			outline: none;
			border: 0;
			position: absolute;
			height: auto;
		}
		& .fa-cog{
			position: absolute;
			z-index: 1;
			font-size: 20px;
			right: 10px;
		}
		& .destination-list{
			//display: block;
			list-style: none;
			background-color: $white;
			top: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			left: 0;
			width: 100%;
			& .destination-list-data{
				//display: none;
				list-style: none;
				padding: 10px 10px 10px 15px;
				border-top: 1px solid #eee;
				text-align: left;
			}
		}
	}
	& button{
		position: relative;
		width: 10%;
		height: 39px;
		border: none;
		border-radius: 0;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		padding: auto 15px;
		background-color: $primary;
		color: $white;
		z-index: 1;
		transition: background-color 0.2s;
		&:hover{
			background-color: $comp_1;
			color: $white;
		}

	}
}



/*======== Packages card ========*/
.package-card{
	& .card-overlay{
		opacity: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.9);
		position: absolute;
		//filter: blur;
		border-radius: 0.25rem;
		& a{
			background-color: $primary;
			display: block;
			margin: 50% 80px;
			transition: color 0.2s ease;
			outline: none;
			border: none;
			font-family: $raleway-bold;
			box-shadow: 0px 0px 25px rgba($black, 0.6);
			&:focus{
				background-color: darken($primary, 10%);
			}
			&:hover{
				background-color: darken($primary, 10%);
			}
			&:active{
				background-color: darken($primary, 10%);
			}
			& i{
			    color: $white;
			    margin-left: 10px;
			    opacity: 0;
			  }
			  &:hover{
			    background-color: $comp_1;
			    & i{
			      // @include slideInDown(
			      //   $duration: 0.3s,
			      //   $count: 1,
			      //   $delay: 0s,
			      //   $function: ease,
			      //   $fill: both
			      // );
			    }
			  }
		}
		&:hover{
			// @include fadeIn(
			// 	$duration: 0.3s,
			//     $count: 1,
			//     $delay: 0s,
			//     $function: ease,
			//     $fill: both
			// );
		}
	}
  	& a{
  		text-decoration: none;

  		&:hover{
  			cursor: pointer;
  		}
  	}
	img.card-img-top{
		background: url("../images/destination_images/protea_hotels_thumb.jpg") no-repeat;
		width: 100%;
		height: 10rem;
	}
	& .card-block{
		//max-height: 9rem;
		@include clearfix();
	}
	& h4.card-title{
		font-family: $raleway-bold;
		color: $neutral2;
		margin-bottom: 0;
	}

	& hr{
		margin: 5px 0;
	}

	& p.card-text{
		color: $neutral2;
		font-size: 0.75rem;
		//margin-bottom: 0;
	}

	& small{
		font-size: 0.75rem;
	}

	& i{
		color: $neutral2;
		transition: color 0.2s ease;
		&:hover{
			color: $comp_1;
		}
		& small{
			font-family: $opensans;
			margin-right: 1rem;
		}
	}

	& ul.features{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		& li{
			margin-right: 0.5rem;
			& i{
				color: $comp_2;
			}
			& small{
				color: $comp_2;
				font-family: $raleway-bold;
				font-size: 0.75rem;
				margin-left: 5px;
				//transition: color 0.2s ease;
				// &:hover{
				// 	color: $comp_2;
				// }
			}
		}
	}

	& .card-footer{
		@include clearfix();
		background-color: $neutral1;
		& i{
			margin-right: 1rem;
			&[class*="fa-bookmark"]{
				margin-right: 0;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

// Login Form
.login-page-wrap{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url('https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b734e103303c5965225682077ee72f86') center center no-repeat;
	background-size: cover;
	box-shadow: inset 0 100vh rgba($prime-blue, 0.9);
	.form-wrap{
		display: block;
		width: 500px;
		margin-top: 10vh;
		background-color: $white;
		padding: 20px;
		border-radius: 2px;
		box-shadow: 0px 0px 10px rgba($black, 0.5);
	}

	form[role="signInUp"]{
		.context-switch-wrap{
			overflow: hidden;
			display: block;
			@include clearfix();
		}

		legend{
			font-size: 3rem;
			font-family: $raleway-bold, sans-serif;
			padding: 10px;
			color: $prime-blue;
			margin: 0 0 20px 0;
			display: block;
			border-bottom: thin solid #e5e5e5;
		}

		label{
			font-family: $raleway-bold, sans-serif;
		}

		i{
			position: absolute;
			margin-left: 35%;
			margin-top: -2.5%;
		}

		i[class*="fa-check"]{
			color: $primary;
		}

		i[class*="fa-close"]{
			color: $comp_1;
		}

		a{
			display: block;
			font-size: 12px;
			margin-top: 20px;
			&:hover{
				color: $comp_1;
			}
		}

		button{
			background-color: $white;
			border: 2px solid $primary;
			color: $primary;
			transition: all 0.4s;
			&:hover{
				background-color: $comp_1;
				border: 2px solid $comp_1;
				color: $white;
			}
			& i{
				color: $white;
				display: inline;
			}
		}

    .auth-status{
      padding: 5px;
      background-color: $neutral1;
      & i{
        display: inline-block;
        margin: 0;
        margin-right: 20px;
        color: $primary;
      }
      & p{
        display: inline-block;
        margin-left: 50px;
        font-family: $raleway-bold;
        margin-top: 5px;
        color: $primary;
      }

    }

    .error-messages{
      background-color: $comp_1;
      color: $white;
      font-family: $raleway-bold;
      padding: 5px 10px;
      margin-bottom: 10px;
      border-radius: 2px;
    }

		small{
			display: inline-block;
			margin-right: 20px;
			& a{
				font-family: $raleway-bold, sans-serif;
				text-decoration: none;
			}
			& button{
				display: inline-block;
				background-color: $white; //$comp_1;
				border: thin solid $comp_1;
				color: $comp_1;
				&:hover{
					border: thin solid $comp_1;
				}
			}
			& button.reg{
				margin-top: 15px;
			}
		}
	}
}

.context-switch-wrap.ng-hide{
	transition: all 0.4s;
	opacity: 0;
	position: absolute;
	z-index: -1000;
}

button.deactivated{
  display: none !important;
}


