.order-page-wrap{
  padding-top: 20px;
  & .wrap-row{
    background-color: $white;
    /*box-shadow: 0px 2px 5px darken($body-bg-color, 10%);*/
    margin: 0 0 50px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 80vh;
    border-radius: 6px;
  }
  & .custom-page-header{
    font-family: $raleway-bold;
    font-size: 2em;
    margin-bottom: 20px;
    color: $comp_1;
  }

  & .order-panel{
    background-color: $neutral1;
    padding: 20px;
    & .order-image{
      background-color: $neutral2;
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    
    & ul{
      padding-left: 0;
      list-style: none;
    }
    & .total{
      font-size: 1.8em;
      font-family: $sourcesans-bold;
    }
  }

  & .guest-checkout{
    padding-top: 20px;
    & h4{
      font-family: $sourcesans-bold;
    }
    & p{
      font-family: $sourcesans;
    }
    & .guest-checkout-form{
      margin-top: 20px;
      & div[class^="col-xs"]{
        padding-left: 0;
      }
    }
  }

  
  
  
}


