/*
** COLORS
*/

// --- Regular colors --- //
$white       			:	rgb(255,255,255);
$black					:	rgb(0, 0, 0);
$fancy-black			:   #484848;
$orange					:	rgb(246, 146, 30);
$primary				:	#33B67C; //#009145; //#38C1C1;
$comp_1					:	#ff4a4a; //#FF6345;
$comp_2					:	#FE8F24; //#FFAE4D; //#FFC34A;
$neutral1				:	#f4f4f4;
$neutral2				:	darken($neutral1, 50%);
$prime-blue				: 	#004074; //#10294A; //#194174; //#072967;

/*
	PALETTE =>	True Peacock
	URL		=>	http://www.colourlovers.com/palette/4064586/true_peacock
*/
$fundy-fog				:	rgb(185,237,199);
$florabrin-green		:	rgb(155,196,156);
$bermoda-2				:	rgb(62,166,141);
$shiny-peacock			:	rgb(14,64,175);
$styx					:	rgb(0,16,40);


/*
	PALETTE =>  APC Travel Mountain
	URL   =>  http://www.colourlovers.com/palette/2122252/APC_Travel_Mountain
*/
$savant : rgb(193,221,199);
$sweet-vanilla : rgb(245,232,198);
$mountain-green : rgb(187,205,119);
$aprikose : rgb(220,128,81);
$ancient-ochre : rgb(244,210,121);


/*
** TYPOGRAPHY
*/

// --- INSTALLED FONTS --- //

// Raleway
$raleway-bold			:	'ralewaybold';
$raleway-extra-bold		:	'ralewayextrabold';
$raleway-light			:	'ralewaylight';
$raleway				:	'ralewayregular';
$raleway-thin			:	'ralewaythin';

// Opensans
$opensans-bold			:	'open_sansbold';
$opensans-light			:	'open_sanslight';
$opensans				:	'open_sansregular';
$opensans-semibold		:	'open_sanssemibold';

// Source-Sans-Pro
$sourcesans				:   'source_sans_proregular';
$sourcesans-light		:   'source_sans_prolight';
$sourcesans-extralight	: 	'source_sans_proextralight';
$sourcesans-bold 		: 	'source_sans_probold';

// Noto Sans
$noto					:   'Noto Sans', sans-serif;




$headings-font-family	: 	$raleway-bold;
$paragraph-font-family	: 	$opensans;
$link-font-family		: 	$opensans;




// Plug in include-media to BS4 grid breakpoints map
// $breakpoints: $grid-breakpoints;


// Layout Variables
$body-bg-color			: 	#f0f0f0; //darken($neutral1, 3%);
