// Global Sub Nav
nav[role="sub-nav"]{
  // padding-top: 5px;
  min-height: auto;
  height: auto;
  background-color: $white; //$prime-blue;//$comp_1;
  margin-bottom: 0;
  border: none;
  padding-bottom: 0;
  border-radius: 0;
  border-top: thin solid rgba($black, 0.1);
  
  .navbar-nav{
    padding-left: 0;
    padding-bottom: 0;
  }

  .navbar-nav{
    & a{
      @include noto-bold;
      color: $fancy-black;
      transition: all 0.6s;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 2px solid $white;
      margin-right: 20px;
      &:hover{
        color: $fancy-black;
        cursor: pointer;
      }
      &:focus{
        color: $fancy-black;
      }
    }
  }
  & .navbar-nav > li > a.active{
    color: $fancy-black;
    border-bottom: 2px solid $comp_1;
  }
}